# Admin Security
VITE_ADMIN_PASSWORD=admin123

# Supabase Storage
VITE_SUPABASE_URL=https://cfbrcqsovougywsjypzd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmYnJjcXNvdm91Z3l3c2p5cHpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNzE3OTQsImV4cCI6MjA4ODc0Nzc5NH0.A_WXNLLVG7yMh3ofBzulCMFRWAbyUjXaLfsWUNrdM2g
VITE_SUPABASE_BUCKET=vibeshop-assets
